@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root[theme="dark"] {
	--title-font: "Sen", sans-serif;
	--roboto: "Roboto Mono", monospace;
	/* --color-main: #161616; */
	--color-main: #0c0d21;
	--color-main-light: #151629;
	--color-main-transparent: rgba(12, 23, 36, 0.27451);
	--color-primary: #2882f5;
	--color-primary-light: rgba(40, 129, 245, 0.18431);
	--color-accent: #28f586;
	--color-accent-light: rgba(40, 245, 136, 0.07451);
	--color-accent-2: #f31154;
	--color-accent-2-light: rgba(12, 206, 93, 0.18431);
	--color-background: #e2e7ee;
	--color-background-light: #eef1f6;
	--font-color: #fff;
	--color-button-text: #fff;
	--font-color-light: hsla(0, 0%, 100%, 0.25882);
	--border-color: #dbdddf;
	--border-color-light: #eee;
	--colour-pink: #d7385e;
	--color-error: #e97414;
	--color-success: #01c251;
	--gradient-blue: linear-gradient(
		94.99deg,
		#00ffa4 2.48%,
		#6e12ca 52.18%,
		#2882f5 95.72%
	);
	--default-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--primary-shadow: 0px 10px 20px rgba(16, 68, 209, 0.185);
	--popup-shadow: 0px 20px 35px rgba(7, 74, 126, 0.123);
	--popup-background: rgba(20, 23, 54, 0.17255);
}

:root[theme="light"] {
	/* 
	Blue:
	#1a5ef3
	#3be4dd
	#5564d6
	#13102c
	#1846a0
	#163974
	#5a7186
	#1a5ef3
	#131435
	*/
	--title-font: "Sen", sans-serif;
	--roboto: "Roboto Mono", monospace;
	/* --color-main: #161616; */
	--color-main: #080a41;
	--color-main-light: #131435;
	--color-main-transparent: rgba(12, 23, 36, 0.27451);
	--color-primary: #2882f5;
	--color-primary-light: rgba(40, 129, 245, 0.18431);
	--color-accent: #28f586;
	--color-accent-light: rgba(40, 245, 136, 0.07451);
	--color-accent-2: #f31154;
	--color-accent-2-light: rgba(12, 206, 93, 0.18431);
	--color-background: #e2e7ee;
	--color-background-light: #eef1f6;
	--font-color: #fff;
	--color-button-text: #fff;
	--font-color-light: hsla(0, 0%, 100%, 0.25882);
	--border-color: #dbdddf;
	--border-color-light: #eee;
	--colour-pink: #3be4dd;
	--color-error: #e97414;
	--color-success: #01c251;
	--gradient-blue: linear-gradient(
		94.99deg,
		#00ffa4 2.48%,
		#6e12ca 52.18%,
		#2882f5 95.72%
	);
	--default-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--primary-shadow: 0px 10px 20px rgba(16, 68, 209, 0.185);
	--popup-shadow: 0px 20px 35px rgba(7, 74, 126, 0.123);
	--popup-background: rgba(20, 23, 54, 0.17255);
	transition: all 10s;
}

/*********************** global variable declaration End ********************************************/

* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	background-color: var(--color-main);
	color: var(--font-color);
	font-family: "Sen", sans-serif;
	letter-spacing: 0.01em;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--font-color);
	cursor: pointer;
}

.typer {
	color: var(--font-color);
}

/* .light-theme {
	color: #000;
	background-color: white;
} */

#theme-button {
	cursor: pointer;
}

/*************************************  toggleButton Start ********************************************/
.sun-moon-container {
	--rotation: 0;
	transform: rotate(calc(var(--rotation) * 1deg));
	transition: transform 2s;
}

.dark .sun-moon-container {
	--rotation: 180deg;
}

.sun,
.moon {
	margin: 0.5rem 0 0 0.5rem;
	transition: opacity, fill, 1s;
	width: 30px;
	height: 30px;
	fill: var(--font-color);
}

.sun {
	opacity: 1;
}

.dark .sun {
	opacity: 0;
}

.moon {
	opacity: 0;
}

.dark .moon {
	margin-bottom: 0.5rem;
	opacity: 1;
}

@media screen and (max-width: 700px) {
	.sun-moon-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sun {
		margin: 0;
	}

	.dark .moon {
		margin: 0;
	}
}
/*************************************  toggleButton end ********************************************/
/*------------------------------------------------------------------------------------------------------------------*/
/*************************************  Nav bar Start ********************************************/

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	margin: 0rem 5rem 0 10rem;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: max-content;
}

.nav-links > li {
	list-style: none;
	/* padding: 1rem; */
}

.nav-links > li > a {
	padding: 0.2rem 1.2rem;
	opacity: 0.7;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.nav-links > li > a::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 2.2px;
	transform: scaleX(0);
	background-color: #00ffa4;
	transition: all 0.4s ease-in-out;
}

.nav-links > li > a:hover {
	opacity: 1;
}

.nav-links > li > a:hover::after {
	transform: scaleX(1);
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

@media screen and (max-width: 1000px) {
	.nav-bar {
		margin: 0 1rem;
	}
}

/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Burgers Start ********************************************/

@media only screen and (max-width: 700px) {
	.nav-links,
	.nav-links.active {
		height: 100%;
		position: fixed;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
		left: -100%;
		top: 0;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		overflow: hidden;
	}

	.nav-links > li > a::after {
		display: none;
	}

	.nav-links > li {
		margin: 1rem 0;
	}

	.nav-bar {
		margin: 0rem 1rem;
	}

	.nav-links.active {
		left: 0;
	}

	body.active {
		overflow: hidden;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		position: absolute;
		z-index: 2;
		right: 0;
		margin: 0 1rem 0 0;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/*************************************  Burgers End********************************************/
/* ----------------------------------------------------------------------------------------------------------- */

/*************************************  Nav bar end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Hero Start ********************************************/

.hero {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 600px;
}

.hero h1 {
	font-size: 3rem;
}

@media screen and (max-width: 700px) {
	.hero {
		height: 70vh;
	}

	.hero h1 {
		font-size: 6vw;
	}
}

/*************************************  Hero End ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  About Start ********************************************/

.container {
	display: block;
	/* width: 95%; */
	max-width: 1280px;
	margin: 0 auto;
}
.heading {
	display: flex;
	align-items: center;
}
.section-title::before {
	content: "#";
	padding-right: 5px;
	color: var(--hash-tag);
}

.heading h2.section-title {
	font-family: "Sen";
	font-size: 1.8rem;
	font-weight: 600;
	padding: 10px 10px 10px 0;
}

.heading .line {
	flex: 1;
	height: 1px;
	width: 985px;
	background: var(--colour-pink);
}

.content-section {
	display: flex;
	flex-direction: column;
	padding: 40px 0 10px;
}

#text-container {
	display: flex;
	justify-content: space-around;
}

#text-container > p {
	width: 40rem;
	line-height: 1.5rem;
	padding-left: 2.5rem;
	text-align: justify;
	font-size: large;
}

#text-container .dummy {
	background-color: #00ffa4;
	width: 30%;
	height: 30vh;
}

@media screen and (max-width: 700px) {
	#text-container {
		/* height: 600px; */
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#text-container > p {
		width: 90%;
		padding: 0;
	}
}
/*************************************  About End ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Timer start ********************************************/
/* .timer-container {
	display: block;
	width: 95%;
	max-width: 1280px;
	margin: 0 auto;
} */

.timer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #daf6ff;
	/* text-shadow: 0 0 10px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0); */
	text-shadow: 0 0 7px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

#countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
#countdown > ul {
	display: flex;
}
#countdown > ul > li {
	list-style: none;
	display: flex;
	flex-direction: column;
}

#countdown > ul > li > span {
	font-size: 2rem;
	padding: 2rem;
	margin: 0 1rem;
}

@media screen and (max-width: 700px) {
	#countdown > ul {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
/*************************************  Timer end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Sponsors start ********************************************/
.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
}

.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}

/*Hover-Section*/

.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}

/*************************************  Sponsors end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Prizes Start ********************************************/
.prizes {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 40vh; */
}

.flip-card {
	width: 392px;
	height: 300px;
	margin: 0 1rem;
	perspective: 1000px;
	cursor: pointer;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	border-radius: 14px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back h1,
.flip-card-front img,
.flip-card-front p {
	background-color: var(--color-main-light);
}

.prizes .flip-card-back h1,
.prizes .flip-card-back span {
	font-size: 2vw;
	font-family: "Roboto", monospace;
}

.flip-card-back span {
	color: var(--color-accent);
}

.flip-card-back {
	background-color: var(--color-main-light);
	color: white;
	transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
	.prizes {
		flex-wrap: wrap;
		height: auto;
	}

	.flip-card {
		width: 100%;
		height: 300;
		margin: 1rem 2rem;
	}
}

/*************************************  Prizes End ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/********************************** Track Start *******************************************/

.track-section {
	padding: 1rem;
}

.track-items-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1em;
	row-gap: 1em;
}

.track-items-grid .track-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 0.5rem;
	border: 0.2rem;
	border-style: solid;
	border-color: var(--color-main-light);
	padding: 0.4rem;
}

.track-panel:hover, .track-panel:hover * {
	background-color: var(--color-main-light);
}

.track-panel .track-box {
	border-radius: 20%;
	display: inline-block;
	padding: 1rem;
	height: 5.5rem;
	margin-top: 1rem;
	width: 5.5rem;
	box-sizing: border-box;
	border: 3px solid var(--color-accent);
}

.track-panel .track-box img {
	float: left;
	width: 3rem;
	align-content: center;
}

.track-panel .track-panel-text {
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.track-panel .track-panel-text .track-panel-title {
	font-size: 1.5rem;
}

.track-panel .track-panel-text .track-panel-description {
	margin-top: .5em;
	opacity: 0.7;
}

@media screen and (max-width: 700px) {
	.track-items-grid {
		display: grid;
		grid-template-columns: none;
		grid-row-gap: 1.2rem;
		row-gap: 1.2rem;
		justify-content: center;
		align-items: center;
	}
}

/********************************* Track end *********************************************/
/*--------------------------------						----------------------------------*/
/*********************************** FAQ section start *************************************/

.faq-section {
	display: flex;
	flex-direction: column;
}

.faq-section .faq-items-grid {
	margin: 0 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.2rem;
	column-gap: 1.2rem;
	grid-row-gap: 1.2rem;
	row-gap: 1.2rem;
}

.faq-section .faq-items-grid .faq-item {
	flex: 1;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: var(--color-main-light);
}

.faq-text .faq-text-title {
	background-color: var(--color-main-light);
}

.faq-section .faq-items-grid .faq-item .faq-text-title {
	padding: 0.7rem;
	border-radius: 0.5rem 0.5rem 0 0;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
}

.faq-section .faq-items-grid .faq-item .faq-text .faq-text-title {
	font-size: 1.2rem;
}

.faq-section .faq-items-grid .faq-item .faq-answer {
	background-color: var(--color-main-light);
	border-radius: 0 0 0.5rem 0.5rem;
}

.faq-section .faq-items-grid .faq-item .faq-answer p {
	margin: 0 0.4rem 0.4rem;
	padding: 1rem 1.5rem;
	height: 100%;
	max-height: 200px;
	background-color: var(--color-main);
	border-radius: 0 0 0.5rem 0.5rem;
	overflow: hidden;
}

@media screen and (max-width: 700px) {
	.faq-section .faq-items-grid {
		display: grid;
		grid-template-columns: none;
		align-items: center;
		grid-row-gap: 1.2rem;
		row-gap: 1.2rem;
	}
}

/*********************************** FAQ section end ***************************************/
