@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
	--title-font: "Sen", sans-serif;
	--roboto: "Roboto Mono", monospace;
	--color-main: #161616;
	--color-main-light: #151629;
	--color-main-transparent: rgba(12, 23, 36, 0.27451);
	--color-primary: #2882f5;
	--color-primary-light: rgba(40, 129, 245, 0.18431);
	--color-accent: #28f586;
	--color-accent-light: rgba(40, 245, 136, 0.07451);
	--color-accent-2: #f31154;
	--color-accent-2-light: rgba(12, 206, 93, 0.18431);
	--color-background: #e2e7ee;
	--color-background-light: #eef1f6;
	--font-color: #fff;
	--color-button-text: #fff;
	--font-color-light: hsla(0, 0%, 100%, 0.25882);
	--border-color: #dbdddf;
	--border-color-light: #eee;
	--colour-pink: #d7385e;
	--color-error: #e97414;
	--color-success: #01c251;
	--gradient-blue: linear-gradient(
		94.99deg,
		#00ffa4 2.48%,
		#6e12ca 52.18%,
		#2882f5 95.72%
	);
	--default-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--primary-shadow: 0px 10px 20px rgba(16, 68, 209, 0.185);
	--popup-shadow: 0px 20px 35px rgba(7, 74, 126, 0.123);
	--popup-background: rgba(20, 23, 54, 0.17255);
}
/*********************** global variable declaration End ********************************************/

* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	background-color: var(--color-main);
	color: var(--font-color);
	font-family: "Sen", sans-serif;
	letter-spacing: 0.01em;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--font-color);
	cursor: pointer;
}

.typer {
	color: var(--font-color);
}

/*************************************  Nav bar Start ********************************************/

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	margin: 0rem 5rem 0 10rem;
}

.nav-links {
	display: flex;
	align-items: center;
	width: max-content;
}

.nav-links > li {
	list-style: none;
	/* padding: 1rem; */
}

.nav-links > li > a {
	padding: 0.2rem 1.2rem;
	opacity: 0.7;
	transition: all 0.2s ease-in-out;
}

.nav-links > li > a:hover {
	opacity: 1;
}

@media screen and (max-width: 1000px) {
	.nav-bar {
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
	.nav-bar .nav-links {
		display: none;
	}
}
/*************************************  Nav bar end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Hero Start ********************************************/

.hero {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 600px;
}

/*************************************  Hero End ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  About Start ********************************************/

.container {
	display: block;
	/* width: 95%; */
	max-width: 1280px;
	margin: 0 auto;
}
.heading {
	display: flex;
	align-items: center;
}
.section-title::before {
	content: "#";
	padding-right: 5px;
	color: var(--hash-tag);
}

.heading h2.section-title {
	font-family: "Sen";
	font-size: 1.8rem;
	font-weight: 600;
	padding: 10px 10px 10px 0;
}

.heading .line {
	flex: 1;
	height: 1px;
	width: 985px;
	background: var(--colour-pink);
}

.content-section {
	display: flex;
	flex-direction: column;
	padding: 40px 0 10px;
}

#text-container {
	width: 40rem;
	height: 12rem;
	line-height: 1.5rem;
	padding-left: 2.5rem;
	text-align: justify;
	font-size: large;
}
/*************************************  About End ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Timer start ********************************************/
.timer-container {
	display: block;
	width: 95%;
	max-width: 1280px;
	margin: 0 auto;
}
/*************************************  Timer end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Sponsors start ********************************************/
.sponsors {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 40vh; */
}

@media screen and (max-width: 700px) {
	.sponsors {
		flex-wrap: wrap;
		height: auto;
	}

	.flip-card {
		width: 100%;
		height: 300;
		margin: 1rem 2rem;
	}
}

/*************************************  Sponsors end ********************************************/
/* ----------------------------------------------------------------------------------------------------------- */
/*************************************  Prizes Start ********************************************/
.prizes {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 40vh; */
}

.flip-card {
	width: 392px;
	height: 300px;
	margin: 0 1rem;
	perspective: 1000px;
	cursor: pointer;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	border-radius: 14px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back h1,
.flip-card-front img,
.flip-card-front p {
	background-color: var(--color-main-light);
}

.flip-card-back {
	background-color: var(--color-main-light);
	color: white;
	transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
	.prizes {
		flex-wrap: wrap;
		height: auto;
	}

	.flip-card {
		width: 100%;
		height: 300;
		margin: 1rem 2rem;
	}
}

/*************************************  Prizes End ********************************************/
/*+++++++++++++++++++++++++++++                         ++++++++++++++++++++++++++++++++++++*/
/*********************************** FAQ section start *************************************/
.faq-section {
	display: flex;
	flex-direction: column;
}

.faq-section .faq-head {
	display: flex;
	align-items: center;
}

.faq-section .faq-head .faq-title {
    margin: 1.5rem;
	font-size: 1.8rem;
}

.faq-section .faq-items-grid {
    margin: 0 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.2rem;
	column-gap: 1.2rem;
	grid-row-gap: 1.2rem;
	row-gap: 1.2rem;
}

.faq-section .faq-items-grid .faq-item {
	flex: 1;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: var(--color-main-light);
}

.faq-text .faq-text-title{
	background-color: var(--color-main-light);
}

.faq-section .faq-items-grid .faq-item .faq-text-title {
	padding: 0.7rem;

    border-radius: 0.5rem 0.5rem 0 0;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
}

.faq-section .faq-items-grid .faq-item .faq-text .faq-text-title {
	font-size: 1.2rem;
}

.faq-section .faq-items-grid .faq-item .faq-answer {
	background-color: var(--color-main-light);
	border-radius: 0 0 0.5rem 0.5rem;
}

.faq-section .faq-items-grid .faq-item .faq-answer p {
	margin: 0 0.4rem 0.4rem;
	padding: 1rem 1.5rem;
	height: 100%;
	max-height: 200px;
	background-color: var(--color-main);
    border-radius: 0 0 0.5rem 0.5rem;
	overflow: hidden;
}
/*********************************** FAQ section end ***************************************/
