.rules {
  display: grid;
  grid-template-rows: 60px 1fr;
  margin-top: 50px;
}

.rule-heading {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  width: 80%;
}

h2.rule-title {
  font-family: "Sen";
  font-size: 1.5rem; /*modified*/
  font-weight: 600;
  padding: 10px 10px 10px 0;
}

h2.rule-title::before {
  content: "#";
}

.rule-line {
  flex: 1;
  height: 0.1rem; /*modified*/
  width: 90%; /*modified*/
  background: var(--colour-pink);
}

.rule-content {
  margin-left: 3rem; /*modified*/
  margin-left: 6rem;
  line-height: 1.8rem;
  width: 100%; /*modified*/
}

.rule-content > ul li {
  padding-bottom: 1rem;
  width: 80%;
}
/*modified*/
@media screen and (max-width: 700px) {
  .rule-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .rule-content {
    margin-left: 0;
    font-size: 10px;
  }

  .rule-line {
    flex: none;
  }
}
